<div class="bs-body-bg"></div>
<div class="container-fluid m-0 p-0 ">
    <div class="col-md-12">
        <div class="row d-flex justify-content-start g-0">
                <div class="col-lg-6 vh-100 overflow-hidden position-relative">
                    <img src="assets/images/signInImg.jpg" class="img-fluid" >
                    <div class="text-white-50 col-lg-6 mb-4 position-absolute welcomeTxt">
                        <h5 class="text-white countdown-endtxt">Welcome back!</h5>
                        <p>We are glad to see you again! Instant deposits, withdrawals &amp; payouts trusted by millions worldwide.</p>
                    </div>                            
                </div><!-- end col -->
                <div class="col-lg-3 offset-lg-1">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <div class="w-100">
                            <div class="mb-5 col-md-7">
                                <img src="assets/images/logo-dark.png" class="img-fluid" >
                            </div>

                            <div class="text-primary mb-3"><h5>Reset Password</h5></div>
                            <form  [formGroup]="ResetPassword" >
                                <div formGroupName="request">
                                <div class="form-floating form-floating-custom mb-3" formGroupName="body">
                                    <i class="position-absolute showEye fa fa-eye" [ngClass]="hiddenPassword" id="togglePassword" (click)="showPassword()"></i>
                                    <div class="form-floating-icon"><i class="mdi mdi-lock-outline"></i></div>
                                    <input [type]="passwordType" class="form-control" formControlName="password" id="new-password"
                                        placeholder="Enter Password" required
                                        [ngStyle]="{'border-color':passwordControl.invalid && (passwordControl.dirty || passwordControl.touched || submitted)
                                                                  && (passwordControl.errors?.['required'] || passwordControl.errors?.['email'])?'red':''}">
                                    <label for="new-password" [ngStyle]="{'color':passwordControl.invalid &&
                                                           (passwordControl.dirty || passwordControl.touched || submitted) &&
                                                           (passwordControl.errors?.['required'] || passwordControl.errors?.['email'])?'red':''}">New
                                        Password</label>
                                    <!-- <span id="toggle_pwd" [ngClass]="hiddenPassword" class="field_icon" (click)="showPassword()"></span> -->
                                    <div class="form-floating form-floating-custom mb-4" style="color: red;font-size: 17px"
                                        *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched || submitted)">
                                        <small *ngIf="passwordControl.errors?.['required']">
                                            Password is required
                                        </small>
                                    </div>
                                    <!-- <div class="form-floating-icon"><i class="mdi mdi-account-multiple-outline"></i></div>  -->
                                </div>
                                <div class="form-floating form-floating-custom mb-3" formGroupName="body">
                                    <i class="position-absolute showEye fa fa-eye" [ngClass]="hiddenConfirmPassword" id="togglePassword" (click)="showConfirmPassword()"></i>
                                    <input [type]="confirmPasswordType" class="formLogin form-control" formControlName="confirmPassword"
                                        autocomplete="new-password" id="confirm-password" placeholder="Enter Confirm Password"
                                        [ngStyle]="{'border-color':confirmPasswordControl.invalid && (confirmPasswordControl.dirty ||
                                                                   confirmPasswordControl.touched || submitted)
                                                                  && (confirmPasswordControl.errors?.['required'] || confirmPasswordControl.errors?.['email'])?'red':''}">
                                    <label for="confirm-password"
                                        [ngStyle]="{'color':confirmPasswordControl.invalid && (confirmPasswordControl.dirty ||
                                                                   confirmPasswordControl.touched || submitted)
                                                                  && (confirmPasswordControl.errors?.['required'] || confirmPasswordControl.errors?.['email'])?'red':''}">Confirm
                                        Password</label>
                                    <!-- <span style="cursor: pointer" [ngClass]="hiddenConfirmPassword" class="field_icon"
                                        (click)="showConfirmPassword()"></span> -->
                                    <div class="form-floating form-floating-custom mb-4" style="color: red;font-size: 17px"
                                        *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched || submitted)">
                                        <small *ngIf="confirmPasswordControl.errors?.['required']">
                                            Confirm password is required
                                        </small>
                                    </div>
                                    <div class="form-floating-icon"><i class="mdi mdi-lock-outline"></i></div>
                                </div>

                                <a href="javascript:void();" class="float-end mb-3">Forgot Password?</a>

                                <div class="mt-3">
                                    <button class="btn btn-primary w-100 submit" type="submit" id="submit" (click)="resetPassword()">Reset Password</button>
                                </div>

                                <div class="mt-4 text-center">
                                    <a href="javascript:void();" class="text-white-50 text-decoration-underline">Forgot your password?</a>
                                </div>
                            </div>
                            </form><!-- end form -->

                            <p>Already have an account ? <a href="javascript:void();" class="fw-medium text-decoration-underline colorOrg" (click)="goToLogin()"> Login </a></p>
                            <div class="text-muted "><script>document.write(new Date().getFullYear())</script> &copy; Validat.</div>

                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
