<form [formGroup]="serviceConfigs">
    <div class="container" formGroupName="request">
        <div class="row mb-2" formGroupName="body">
            <div class="col-xl-10 m-auto">
                <div class="card card-h-100">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Add service rule</h4>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div class="col-xl-4 pe-3 mb-3">
                                <label class="form-label">Company</label>
                                <select class="form-select p-2" formControlName="companyId"
                                    (ngModelChange)="getCompanyId($event)"
                                    [ngStyle]="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                    <option selected [ngValue]=null>--Select--</option>
                                    <option *ngFor="let data of companyDropdown" [ngValue]="data.key">{{data.value}}
                                    </option>
                                </select>
                                <div style="color: red"
                                    *ngIf="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)">
                                    <small *ngIf="controls['companyId'].errors?.['required']">
                                        Company is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-4  pe-3 mb-3">
                                <label class="form-label">Module</label>
                                <select class="form-select p-2" formControlName="moduleId"
                                    (ngModelChange)="getModuleId($event)"
                                    [ngStyle]="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                    <option selected [ngValue]=null>--Select--</option>
                                    <option *ngFor="let data of ModuleDropdown" [ngValue]="data.id">
                                        {{data.display_field}}</option>
                                </select>
                                <div style="color: red"
                                    *ngIf="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)">
                                    <small *ngIf="controls['moduleId'].errors?.['required']">
                                        Module is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-3 pe-3 mb-3">
                                <label class="form-label">Rule Name</label>
                                <input type="text" class="form-control p-2" placeholder="Type Rule Name"
                                    formControlName="ruleName" (ngModelChange)="ruleName($event)"
                                    [ngStyle]="controls['ruleName'].invalid && (controls['ruleName'].dirty || controls['ruleName'].touched || submitted)?{color:'red',border:'1px solid red'}:{}" />
                                <div style="color: red"
                                    *ngIf="controls['ruleName'].invalid && (controls['ruleName'].dirty || controls['ruleName'].touched || submitted)">
                                    <small *ngIf="controls['ruleName'].errors?.['required']">
                                        Rule Name is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-4 mb-3">
                                <label class="form-label">Status</label>
                                <div class="d-flex justify-content-start form-check form-switch pt-1">
                                    <input class="form-check-input float-end valign-middle mt-1"  formControlName="status" type="checkbox" id="blacklist">
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" formGroupName="body">
            <div class="col-xl-10 m-auto">
                <div class="card card-h-100">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Check rules</h4>
                        <div id="service-rule">
                        <div *ngFor="let totalService of detailsControl.controls;index as i" formArrayName="details">
                            <div class="d-flex justify-content-between" [formGroupName]="i">
                                <div class="col-xl-4 pe-3 mb-3">
                                    <label class="form-label">Service Type</label>
                                    <select class="form-select p-2" formControlName="serviceTypeId"
                                        (ngModelChange)="unBlockAdd()" id="selServiceTypeId">
                                        <option selected [ngValue]=null>--Select--</option>
                                        <option *ngFor="let data of serviceTypeDropdown" [ngValue]="data.id">
                                            {{data.service_name}}</option>
                                    </select>
                                </div>
                                <div class="col-xl-4 pe-3 mb-3">
                                    <label class="form-label">Operator</label>
                                    <select class="form-select p-2" formControlName="operatorId"
                                        (ngModelChange)="unBlockAdd()">
                                        <option selected [ngValue]=null>--Select--</option>
                                        <option [ngValue]=1>=</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 mb-3 pe-3">
                                    <label class="form-label">Value</label>
                                    <select class="form-select p-2" formControlName="status"
                                        (ngModelChange)="unBlockAdd()"
                                        [ngStyle]="totalService['status'].invalid && (totalService['status'].dirty || totalService['status'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                        <option selected [ngValue]=null>--Select-</option>
                                        <option *ngFor="let serviceStatus of ServiceStatus"
                                            [ngValue]="serviceStatus.key">{{serviceStatus.value}}</option>
                                    </select>
                                    <div style="color: red"
                                        *ngIf="detailsControl.controls[i]['status'].invalid && (detailsControl.controls[i]['status'].dirty || detailsControl.controls['status'].touched || submitted)">
                                        <small *ngIf="detailsControl.controls[i]['status'].errors?.['required']">
                                            Module is required.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xl-1">
                                    <button type="button" (click)="removeService(i)"
                                        class="btn btn-soft-light float-start mt-4 p-1"><i
                                            data-feather="trash-2">X</i></button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <button style="margin-right: 43rem" id="add-more" (click)="addMoreService()" type="button"  
                                class="btn btn-outline-secondary float-start"><i data-feather="trash-2">Add
                                    More</i></button>
                            <button (click)="goBack()" type="button"
                                class="btn btn-outline-secondary me-3">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="saveServiceConfigs()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<app-popupbox-confirmation [display]=openPop [Description]="alertMessage" (action)="closePopup()" [AlertMessage]="AlertMessage" [fontColor]="fontColor"></app-popupbox-confirmation>