<form [formGroup]="serviceConfigs">
    <div class="container" formGroupName="request">
        <div class="row mb-2" formGroupName="body">
            <div class="col-xl-12 m-auto">
                <div class="card card-h-100">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Add service rule</h4>
                        <hr>
                        <div class="row d-flex justify-content-start">
                            <div class="col-xl-4 pe-3 mb-3">
                                <label class="form-label">Company</label>
                                <select class="form-select" formControlName="companyId"
                                    (ngModelChange)="getCompanyId($event)"
                                    [ngStyle]="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                    <option selected [ngValue]=null>--Select--</option>
                                    <option *ngFor="let data of companyDropdown" [ngValue]="data.key">{{data.value}}
                                    </option>
                                </select>
                                <div style="color: red"
                                    *ngIf="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)">
                                    <small *ngIf="controls['companyId'].errors?.['required']">
                                        Company is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-4  pe-3 mb-3">
                                <label class="form-label">Module</label>
                                <select class="form-select" formControlName="moduleId"
                                    (ngModelChange)="getModuleId($event)"
                                    [ngStyle]="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                    <option selected [ngValue]=null>--Select--</option>
                                    <option *ngFor="let data of ModuleDropdown" [ngValue]="data.id">
                                        {{data.display_field}}</option>
                                </select>
                                <div style="color: red"
                                    *ngIf="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)">
                                    <small *ngIf="controls['moduleId'].errors?.['required']">
                                        Module is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-3 pe-3 mb-3">
                                <label class="form-label">Rule Name</label>
                                <input type="text" class="form-control" placeholder="Type Rule Name"
                                    formControlName="ruleName" (ngModelChange)="ruleName($event)"
                                    [ngStyle]="controls['ruleName'].invalid && (controls['ruleName'].dirty || controls['ruleName'].touched || submitted)?{color:'red',border:'1px solid red'}:{}" />
                                <div style="color: red"
                                    *ngIf="controls['ruleName'].invalid && (controls['ruleName'].dirty || controls['ruleName'].touched || submitted)">
                                    <small *ngIf="controls['ruleName'].errors?.['required']">
                                        Rule Name is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-xl-1 mb-3">
                                <label class="form-label">Status</label>
                                <div class="d-flex justify-content-start form-check form-switch pt-1">
                                    <input class="form-check-input float-end valign-middle mt-1"  formControlName="status" type="checkbox" id="blacklist">
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" formGroupName="body">
            <div class="col-xl-12 m-auto">
                <div class="card card-h-100">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Check rules</h4>
                        <div id="service-rule" *ngFor="let totalService of detailsControl.controls;index as i" formArrayName="details">
                            <div class="row d-flex justify-content-start" [formGroupName]="i">
                                <div class="col-xl-4 pe-3 mb-3">
                                    <label class="form-label">Service Type</label>
                                    <select class="form-select" formControlName="serviceTypeId"
                                        (ngModelChange)="unBlockAdd()" id="selServiceTypeId">
                                        <option selected [ngValue]=null>--Select--</option>
                                        <option *ngFor="let data of serviceTypeDropdown" [ngValue]="data.id">
                                            {{data.service_name}}</option>
                                    </select>
                                </div>
                                <div class="col-xl-4 pe-3 mb-3">
                                    <label class="form-label">Operator</label>
                                    <select class="form-select" formControlName="operatorId"
                                        (ngModelChange)="unBlockAdd()">
                                        <option selected [ngValue]=null>--Select--</option>
                                        <option [ngValue]=1>=</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 mb-3 pe-3">
                                    <label class="form-label">Value</label>
                                    <select class="form-select" formControlName="status"
                                        (ngModelChange)="unBlockAdd()"
                                        [ngStyle]="totalService['status'].invalid && (totalService['status'].dirty || totalService['status'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                        <option selected [ngValue]=null>--Select-</option>
                                        <option *ngFor="let serviceStatus of ServiceStatus"
                                            [ngValue]="serviceStatus.key">{{serviceStatus.value}}</option>
                                    </select>
                                    <div style="color: red"
                                        *ngIf="detailsControl.controls[i]['status'].invalid && (detailsControl.controls[i]['status'].dirty || detailsControl.controls['status'].touched || submitted)">
                                        <small *ngIf="detailsControl.controls[i]['status'].errors?.['required']">
                                            Module is required.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xl-1 svgBtn">
                                    <a type="button" (click)="removeService(i)" class="float-start mt-4 p-1" matTooltip="Remove" matTooltipPosition="above">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                          </svg>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button style="margin-right: 43rem" [ngClass]="{'opacity-100 pe-auto':( this.serviceConfigs.valid),'opacity-50 pe-none':!(this.serviceConfigs.valid)}" (click)="addMoreService()" type="button" class="btn btn-outline-secondary float-start"><i data-feather="trash-2">Add More</i></button>
                        <div class="d-flex justify-content-end">
                            <button (click)="goBack()" type="button" class="btn btn-outline-secondary me-3">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="saveServiceConfigs()" [ngClass]="{'opacity-100 pe-auto':(this.serviceConfigs.valid&& this.detailsControl.length>0),'opacity-50 pe-none':!(this.serviceConfigs.valid && this.detailsControl.length>0)}">Save Rules</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<app-popupbox-confirmation [display]=openPop [Description]="alertMessage" (action)="closePopup()" [AlertMessage]="AlertMessage" [fontColor]="fontColor"></app-popupbox-confirmation>