<footer class="footer left0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Validat.
            </div>
            <div class="col-sm-6">
                  <!-- <div class="text-sm-end d-none d-sm-block">
                      Crafted with by <a href="javascript:void();" target="_blank" class="text-reset">Nitin Gangurde</a>
                  </div> -->
            </div>
        </div>
    </div>
</footer>
