<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="card-title">Blacklist Type Details</h4>
    </div>
  </div>
</div>
<form [formGroup]="blacklistTypeMaster" autocomplete="">
  <div class="row" formGroupName="request">
    <div class="col-lg-12" formGroupName="body">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-start">
            <div class="col-xl-3 mb-3">
              <label class="form-label">Module<span class="text-danger">*</span></label>
              <select class="form-select p-2" formControlName="moduleId" (ngModelChange)="getModule($event)"
                [ngStyle]="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let data of ModuleDropdown" [ngValue]="data.id">{{data.display_field}}</option>
              </select>
              <div style="color: red"
                *ngIf="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)">
                <small *ngIf="controls['moduleId'].errors?.['required']">
                  Module is required.
                </small>
              </div>
            </div>
            <div class="col-xl-3 mb-3">
              <label class="form-label">Company<span class="text-danger">*</span></label>
              <select class="form-select p-2" formControlName="companyId"
                [ngStyle]="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched  || submitted)?{color:'red',border:'1px solid red'}:{}">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let data of companyResponse" [ngValue]="data.key">{{data.value}}</option>
              </select>
              <div style="color: red"
                *ngIf="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched  || submitted)">
                <small *ngIf="controls['companyId'].errors?.['required']">
                  Company is required.
                </small>
              </div>
            </div>
            <div class="col-xl-3 mb-3">
              <label class="form-label">BlackList Type Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control p-2 font-12" placeholder="Type here.."
                formControlName="blackListType"
                [ngStyle]="controls['blackListType'].invalid && (controls['blackListType'].dirty || controls['blackListType'].touched  || submitted)?{color:'red',border:'1px solid red'}:{}">
              <div style="color: red"
                *ngIf="controls['blackListType'].invalid && (controls['blackListType'].dirty || controls['blackListType'].touched  || submitted)">
                <small *ngIf="controls['blackListType'].errors?.['required']">
                  Blacklist Type is required.
                </small>
              </div>
            </div>
            <div class="col-xl-3 mb-3">
              <label class="form-label">Blacklist Column Name<span class="text-danger">*</span></label>
              <select class="form-select p-2" formControlName="blackListColumn"
                (ngModelChange)="blacklistTypeCheck($event)"
                [ngStyle]="controls['blackListColumn'].invalid && (controls['blackListColumn'].dirty || controls['blackListColumn'].touched  || submitted) || blacklistTypeDisable?{color:'red',border:'1px solid red'}:{}">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let module of resultById" [ngValue]="module.key">{{module.value}}</option>
              </select>
              <div style="color: red"
                *ngIf="controls['blackListColumn'].invalid && (controls['blackListColumn'].dirty || controls['blackListColumn'].touched  || submitted) || blacklistTypeDisable">
                <small *ngIf="controls['blackListColumn'].errors?.['required']">
                  Blacklist Column is required.
                </small>
                <small *ngIf="blacklistTypeDisable">
                  Blacklist column is inactive.
                </small>
              </div>
            </div>
            <div class="col-xl-3 mb-3">
              <label class="form-label">Status</label>
              <div class="d-flex justify-content-start form-check form-switch pt-1">
                  <input formControlName="status" class="form-check-input float-end valign-middle mt-1" type="checkbox" id="blacklist">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="clearfix"></div>
      <button type="button" class="btn btn-success mb-3 float-end" style="cursor: pointer;" (click)="save()">
        <i data-feather="plus" class="icon15x15"></i> Add new
      </button>
      <button type="button" class="btn mb-3 btn-success float-end" routerLink="/Admin/Users"
        style="cursor: pointer; margin-right: 11px !important;background-color: rgb(91, 91, 231);">
        <i data-feather="plus" class="icon15x15"></i> Back
      </button>
    </div>
  </div>
  <br>
</form>
