.dropzone {
  border: 2px dashed #ddd;
  padding: 30px;
  text-align: center;
}

.dz-message {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0;
}

.uploadIcon {
  display: inline-block;
}

.text-green {
  color: #28a745;
}

.m-auto {
  margin: auto;
}

.dz-remove {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
