<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Activity Log<br><span class="fn12 text-dark">Clients we work with and their transactions</span></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="card-body pt-0">
                    <div class="table mb-0 mt-2">
                        <div class="gridjs gridjs-container" style="width: 100%;">
                            <div class="gridjs-wrapper" style="height: 400px;">
                                <table class="gridjs-table " style="height: 400px;">
                                    <thead class="gridjs-thead">
                                        <tr class="gridjs-tr">
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Created date</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Added by</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Description</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody class="gridjs-tbody">
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>

                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>

                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>

                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">System</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                            <td class="gridjs-td">Record picked for compliance processes.</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="gridjs-footer p-0 mt-3">
                                <div class="gridjs-pagination">
                                    <div class="gridjs-pages float-none d-flex justify-content-between">
                                        <a title="Previous" href="javascript:void();" class="btn btn-outline-purple"><i class="fas fa-long-arrow-alt-left"></i> Previous</a>
                                        <div class="d-flex">
                                            <a href="javascript:void();" class="btn btn-light" title="Page 1">1</a>
                                            <a href="javascript:void();" class="btn" title="Page 2">2</a>
                                            <a href="javascript:void();" class="btn" title="Page 3">3</a>
                                            <a href="javascript:void();" class="btn" title="Page 4">4</a>
                                            <a href="javascript:void();" class="btn" title="Page 5">5</a>
                                            <a href="javascript:void();" class="btn" title="Page 6">6</a>
                                            <a href="javascript:void();" class="btn" title="Page 7">7</a>
                                        </div>
                                        <a title="Next" href="javascript:void();" class="btn btn-outline-purple">Next <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
