<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card card-h-100">
            <form [formGroup]="customCheckDetailsForm">
                <div class="card-body" formGroupName="request">
                    <div class="d-flex justify-content-between" formGroupName="body">
                        <div class="col-xl-3 pe-3 mb-3">
                            <label class="form-label">Company</label>
                            <select class="form-select" formControlName="companyId"
                                (ngModelChange)="serviceType($event)">
                                <option selected [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of companyDropdown" [ngValue]="data.key">{{ data.value }}
                                </option>
                            </select>
                        </div>
                        <div class="col-xl-3 pe-3 mb-3">
                            <label class="form-label">Module</label>
                            <select class="form-select" formControlName="moduleId"
                                (ngModelChange)="serviceType($event)">
                                <option selected [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of moduleDropdown" [ngValue]="data.id">{{ data.display_field }}
                                </option>
                            </select>
                        </div>
                        <div class="col-xl-3 pe-3 mb-3">
                            <label class="form-label">Check type</label>
                            <select class="form-select" formControlName="checkType" (ngModelChange)="checkType($event)">
                                <option selected [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of checkTypeValues">{{ data.display_field }}</option>
                            </select>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Status</label>
                            <div class="d-flex justify-content-start form-check form-switch pt-1">
                                <input class="form-check-input float-end valign-middle mt-1" formControlName="active"
                                    type="checkbox" id="blacklist" (change)="changeStatus()">
                                <div class="inactive float-end ms-3">{{activeMsg}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-success" (click)="customCheckDetailsAPI()">Load
                            data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center border-0">
                <h4 class="card-title">Custom rule <span
                        class="badge badge-soft-primary py-2">{{customCheckDetailsByModuleAndCompany?.length}}
                        users</span></h4>
                <button type="button" (click)="addNew()" class="btn btn-success"><i data-feather="plus"
                        class="icon15x15"></i> Add new</button>
            </div>
            <div class="row">
                <div class="card-body pt-0">
                    <div class="table mb-0">
                        <div class="gridjs gridjs-container" style="width: 100%;">
                            <div class="gridjs-wrapper" style="height: 400px;">
                                <table class="gridjs-table " style="height: 400px;">
                                    <thead class="gridjs-thead">
                                        <tr class="gridjs-tr">
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Details</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Rule name</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Check type</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Created by</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Created date</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Updated by</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Updated date</th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Status <i data-feather="arrow-down" class="icon15x15"></i>
                                            </th>
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0"
                                                style="top:0">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="gridjs-tbody">
                                        <tr class="gridjs-tr"
                                            *ngFor="let data of customCheckDetailsByModuleAndCompany;index as i">
                                            <td class="gridjs-td text-center">+</td>
                                            <td class="gridjs-td">{{ data.customCheckRuleName }}</td>
                                            <td class="gridjs-td">{{ data.checkType }}</td>
                                            <td class="gridjs-td">{{ data.createdByName }}</td>
                                            <td class="gridjs-td">{{ data.createdDate }}</td>
                                            <td class="gridjs-td">{{ data.updatedByName }}</td>
                                            <td class="gridjs-td">{{ data.updateDate }}</td>
                                            <td class="gridjs-td" [ngStyle]="{'color':data.bStatus ? 'green' : 'red'}">
                                                <div class="inactiveStatus float-start fn11">{{ data.bStatus ? 'Active' :
                                                    'Inactive' }}</div>
                                            </td>
                                              <td class="gridjs-td" matTooltipPosition="above"
                                                 matTooltip="Set to {{data.bStatus?'Inactive':'Active'}}" (click)="updateRulesStatus(data.id,data.moduleId,data.companyId,data.bStatus)">
                                                 <i class="fa fa-bars ms-3 font-size-15" style="cursor: pointer;"></i>
                                              </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popupbox [display]=openPop [Description]="alertMessage" (action)="closePopup($event)" [AlertMessage]="AlertMessage"></app-popupbox>
