<div id="layout-wrapper">
  <header id="page-topbar" class="left0">
      <app-innerheader></app-innerheader>
  </header>
  <div class="main-content mleft0">
      <div class="page-content">
          <div class="container-fluid">
              <!-- <app-filterbutton></app-filterbutton> -->
              <router-outlet></router-outlet>
              <!-- <app-paymentin [toggleButton]="toggleButton"></app-paymentin> -->
              <!-- <app-paymentout [toggleButton]="toggleButton"></app-paymentout> -->
          </div>
      </div>
      <!-- <app-footer></app-footer> -->
  </div>
</div>
<!-- <app-filtersidebar></app-filtersidebar> -->
