<div class="row mb-2">
    <div class="col-xl-12">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="col-xl-4 pe-3 mb-3">
                        <label class="form-label">Set status</label>
                        <select class="form-select">
                            <option selected>Status</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>
                    <div class="col-xl-4 pe-3 mb-3">
                        <label class="form-label">Select reason</label>
                        <select class="form-select">
                            <option selected>Select reason</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>
                    <div class="col-xl-4 mb-3">
                        <label class="form-label">Notes</label>
                        <textarea rows="1" class="form-control"></textarea> 
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-secondary me-3">Apply</button>
                    <button type="button" class="btn btn-primary">Apply &amp; Unlock</button>
                </div>
            </div>
        </div>
    </div>
</div>