<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card card-h-100">
      <form [formGroup]="bannedBene">
        <div class="card-body" formGroupName="request">
          <div class="d-flex justify-content-between" formGroupName="body">
            <div class="col-xl-3 pe-3 mb-3">
              <label class="form-label">Company</label>
              <select class="form-select p-2" formControlName="companyId">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let data of companyResponse;" [ngValue]="data.key">{{data.value}}</option>
              </select>
            </div>
            <div class="col-xl-3 pe-3 mb-3">
              <label class="form-label">Company</label>
              <input placeholder="Created Date"
                [bsConfig]="{ isAnimated: true,rangeInputFormat : 'DD-MM-YYYY',showWeekNumbers:false}"
                class="form-control  rounded bg-light border-1 p-1_3 mt-1" bsDaterangepicker>
            </div>
            <div class="col-xl-3 pe-3 mb-3">
              <label class="form-label">Module</label>
              <select class="form-select p-2" formControlName="moduleId" (ngModelChange)="moduleDropdown()">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let data of moduleFormResponse;" [ngValue]="data.id">{{data.display_field}}</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <!-- <button type="button" class="btn btn-success" (click)="customCheckDetailsAPI()">Load data</button> -->
          </div>
        </div> <!-- end card-body-->
      </form>
    </div> <!-- end card-->
  </div> <!-- end col-->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header justify-content-between d-flex align-items-center border-0">
        <h4 class="card-title">Custom rule <span class="badge badge-soft-primary py-2">100 users</span></h4>
        <button type="button" routerLink="/Configuration/Add_Banned_Bene" class="btn btn-success"><i data-feather="plus"
            class="icon15x15"></i> Add new</button>
      </div><!-- end card header -->
      <div class="row">
        <div class="card-body pt-0">
          <div class="table mb-0">
            <div class="gridjs gridjs-container" style="width: 100%;">
              <div class="gridjs-wrapper" style="height: 400px;">
                <table class="gridjs-table " style="height: 400px;">
                  <thead class="gridjs-thead">
                    <tr class="gridjs-tr">
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Details</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Rule name</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Check type</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Created by</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Created date</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Updated by</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Updated date</th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Status <i
                          data-feather="arrow-down" class="icon15x15"></i></th>
                      <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Active</th>
                    </tr>
                  </thead>
                  <tbody class="gridjs-tbody">
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                    <tr class="gridjs-tr">
                      <td class="gridjs-td">Clearbank</td>
                      <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                      <td class="gridjs-td">Olivia Rhye</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">2024:03:08 14:03:23</td>
                      <td class="gridjs-td">
                        <div class="activeStatus float-start fn11">Active</div>
                      </td>
                      <td class="gridjs-td text-center">Olivia Rhye</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="gridjs-footer p-0 mt-3">
                <div class="gridjs-pagination">
                  <div class="gridjs-pages float-none d-flex justify-content-between">
                    <a title="Previous" href="javascript:void();" class="btn btn-outline-purple"><i
                        class="fas fa-long-arrow-alt-left"></i> Previous</a>
                    <div class="d-flex">
                      <a href="javascript:void();" class="btn btn-light" title="Page 1">1</a>
                      <a href="javascript:void();" class="btn" title="Page 2">2</a>
                      <a href="javascript:void();" class="btn" title="Page 3">3</a>
                      <a href="javascript:void();" class="btn" title="Page 4">4</a>
                      <a href="javascript:void();" class="btn" title="Page 5">5</a>
                      <a href="javascript:void();" class="btn" title="Page 6">6</a>
                      <a href="javascript:void();" class="btn" title="Page 7">7</a>
                    </div>
                    <a title="Next" href="javascript:void();" class="btn btn-outline-purple">Next <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
