:root{
  --bs-body-bg:#f7f7f7 !important;
}
.btn-primary{ 
  --bs-btn-color:#fff;
  --bs-btn-bg:#098b8b !important;
  --bs-btn-border-color:#038585 !important;
  --bs-btn-hover-color:#fff;
  --bs-btn-hover-bg:#038585 !important;
  --bs-btn-hover-border-color:#038585 !important;
  --bs-btn-focus-shadow-rgb:41,159,225;
  --bs-btn-active-color:#fff;
  --bs-btn-active-bg:#038585 !important;
  --bs-btn-active-border-color:#098b8b !important;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#fff;
  --bs-btn-disabled-bg:#038585 !important;
  --bs-btn-disabled-border-color:#038585
}
.btn-outline-gray{
  --bs-btn-color:#fff !important;
  --bs-btn-border-color:#d0d4dd;
  --bs-btn-hover-color:#fff !important;
  --bs-btn-hover-bg:#098b8b !important;
  --bs-btn-hover-border-color:#7f56d8;
  --bs-btn-focus-shadow-rgb:86,74,177;
  --bs-btn-active-color:#fff;
  --bs-btn-active-bg:#098b8b;
  --bs-btn-active-border-color:#7f56d8;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#038585;
  --bs-btn-disabled-bg:transparent;
  --bs-gradient:none
}
a.btn-outline-gray{font-size:14px; color:#344054 !important; font-weight: 600 !important;}
a.btn-outline-gray:hover{color:#fff !important;}
a.btn-outline-gray svg{stroke:#344054; font-weight: 600; width: 15px; height: auto; position: relative; top: -2px;}
a.btn-outline-gray:hover svg{stroke:#fff !important;}

.card{
  --bs-card-spacer-y:1.25rem;
  --bs-card-spacer-x:1.25rem;
  --bs-card-title-spacer-y:0.5rem;
  --bs-card-border-width:1px;
  --bs-card-border-color:#d8d5d5 !important;
  --bs-card-border-radius:0.65rem !important;
  --bs-card-box-shadow:1px 2px 3px #0062ff !important;
  --bs-card-inner-border-radius:calc(0.65rem - 1px) !important;
  --bs-card-cap-padding-y:1rem;
  --bs-card-cap-padding-x:1.25rem;
  --bs-card-cap-bg:#fff;
  --bs-card-bg:#fff;
  --bs-card-img-overlay-padding:1rem;
  --bs-card-group-margin:10px;
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  min-width:0;
  height:var(--bs-card-height);
  word-wrap:break-word;
  background-color:var(--bs-card-bg);
  background-clip:border-box;
  border:var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius:var(--bs-card-border-radius)
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
  cursor:pointer !important;
}
body[data-sidebar-size=sm] .vertical-menu #sidebar-menu>ul>li>a{
  padding:8px 13px !important;
}
body:not([data-sidebar-size=sm]) .navbar-header .vertical-menu-btn{
  display:block
}
a{
  color:#038585 !important;
  text-decoration:none
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
  font-family:"Inter", sans-serif !important;
}

@media (min-width:769px){
  body[data-sidebar-size=sm]{
      min-height:auto !important;
  }
}
.form-check-input:checked{
  background-color:#098b8b;
  border-color:#028080;
}

.icon-sm{
  height:16px;
  width:16px;
  margin-top: -3px;
}

.footer{
  padding:10px calc(10px / 2);
  height:auto !important;
  --bs-footer-shadow: 0 0px 4px rgba(15, 34, 58, .5) !important;
}

.header-item{height:35px; line-height: 18px;}
.header-item i{color: #667085; font-weight: 500 !important;}
.header-item span{font-size: 16px; color: #344155;}

.header-profile-user{
  height:40px;
  width:40px;
  border:1px solid #d8d8d8;
  padding:0px
}
.valign-middle{vertical-align:middle;}
.height70{height: 70px;}
.height0{min-height: auto !important;}

.activeNavBtn{ background-color: #f9fafc; border-radius:5px !important;}
.colorRed{color: #E72929 !important;}
.fn11{font-size: 11px !important;}
.fn12{font-size: 12px !important;}
.fn14{font-size: 14px !important;}
.fn16{font-size: 16px !important;}
.fn18{font-size: 18px !important;}
.fn20{font-size: 20px !important;}
.fn22{font-size: 22px !important;}
.fn24{font-size: 24px !important;}
.fn26{font-size: 26px !important;}
.fn28{font-size: 26px !important;}
.fn30{font-size: 30px !important;}
.fw-500{font-weight:500!important}

.icon15x15{width: 13px !important; height: 13px !important; margin-top: -2px;}
.icon20x20{width: 20px !important; height: 20px !important;}
.checkMarkBox{ margin: 0 auto; width: 18px; height: 18px; line-height: 13px; text-align: center; border: solid 1px #7f56da; color: #7f56da; background-color: #f5fbfb; border-radius: 3px;}
.crossMarkBox{ margin: 0 auto; width: 18px; height: 18px; line-height: 13px; text-align: center; border: solid 1px #f04438; color: #f04438; background-color: #fef2f2; border-radius: 3px;}
.flagHolder{width: 20px; height: 20px; border: 0; border-radius: 25px; margin-right: 5px;}
.inactive{
  padding: 0px 10px;
  background-color: #f3f4f8;
  font-size: .9rem;
  border: 0;
  border-radius: 40px;
  /*vertical-align: middle;
  font-weight: 600;*/
  margin-top: 2px;
  height: 20px;
  line-height: 20px;
 
}
.inactive::before,.activeStatus::before{content: "•"; margin-right: 3px; font-size: 12px; /*line-height: 10px;*/ font-weight: 600;}
.activeStatus{
  padding: 0px 10px;
  background-color: #f5fbfb;
  font-size: .9rem;
  border: 0;
  border-radius: 40px;
  vertical-align: middle;
  font-weight: 600;
  margin-top: 2px;
  color:#279999;
}
.btn-light{
  --bs-btn-color:#7f56da;
  --bs-btn-bg:#f5fbfb;
  --bs-btn-border-color:#f5f6f8;
  --bs-btn-hover-color:#000;
  --bs-btn-hover-bg:#f7f7f9;
  --bs-btn-hover-border-color:#f6f7f9;
  --bs-btn-focus-shadow-rgb:208,209,211;
  --bs-btn-active-color:#000;
  --bs-btn-active-bg:#f7f8f9;
  --bs-btn-active-border-color:#f6f7f9;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#000;
  --bs-btn-disabled-bg:#f5f6f8;
  --bs-btn-disabled-border-color:#f5f6f8
}
.btn-outline-purple{
  --bs-btn-color:#344054 !important;
  --bs-btn-border-color:#D0D5DD;
  --bs-btn-hover-color:#fff !important;
  --bs-btn-hover-bg:#087a7a;
  --bs-btn-hover-border-color:#059b9b;
  --bs-btn-focus-shadow-rgb:86,74,177;
  --bs-btn-active-color:#fff !important;
  --bs-btn-active-bg:#098b8b;
  --bs-btn-active-border-color:#1baaaa;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#098b8b;
  --bs-btn-disabled-bg:transparent;
  --bs-gradient:none
}

a.btn-outline-purple{ color: #344054  !important;}
a.btn-outline-purple:hover{ color: #fff  !important;}
a.btn-outline-purple svg { stroke: #344054;}
a.btn-outline-purple:hover svg { stroke: #fff;}

a.directionArrow{color: #344054;}
a.directionArrow:hover{ color: #fff  !important;}
a.directionArrow svg { stroke: #0F172A; width: 18px;}
a.directionArrow:hover svg { stroke: #fff;}

a.addBtns{color: #fff !important;}


.btn{--bs-btn-border-radius: 0.45rem !important;}
.btn:hover{color:#fff !important;}
.btn svg:hover{fill:#fff !important;}

.innerNavHolder .btn:hover{color:#555b6d !important;}

.left0{left: 0 !important;}
.mleft0{margin-left: 0 !important;}
.mleft10{margin-left: 10%;}
.mleft30{margin-left: 30%;}
.navbar-brand-box-inner{
  padding:0 1.5rem 0 1.0rem;
  width:230px;
  z-index:1;
  background-color:#fff;
}
.form-control{border-radius:.40rem !important; padding: .40rem .75rem !important;}
.formLogin{padding: 0 !important;}
.form-select,.form-group{border-radius:.40rem !important; padding: .40rem .75rem !important;}
.innerNavHolder{height: 35px; margin-top: 18px;}
.userProfileHolder{height: 35px; margin-top: 18px;}
.formClass{ position: absolute; top:2px; width: 100%; padding-left: 35px;}
.inputIcon{
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 99;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.input-group-text-inner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding:.47rem 0 .47rem .75rem;
  font-size:.9rem;
  font-weight:400;
  line-height:1.5;
  color:var(--bs-body-color);
  text-align:center;
  white-space:nowrap;
  background-color:#fff;
  border-top:1px solid var(--bs-input-border-color);
  border-right:0;
  border-bottom:1px solid var(--bs-input-border-color);
  border-left:1px solid var(--bs-input-border-color);
  border-radius:.40rem
}

.gridjs-container {background-color: #fff !important; border-radius: 10px !important; padding: 0 !important;}
.gridjs-wrapper{border: 2px solid var(--bs-table-border-color) !important;}
.gridjs-footer{border: 2px solid var(--bs-table-border-color) !important; border-top: 0 !important;}
.gridjs-wrapper:nth-last-of-type(2){border-radius: 10px !important; }
.table{--bs-table-border-color: #EAECF0 !important;}
th.gridjs-th-sort{background-color:#f9fafb !important;}
.gridjs-wrapper::-webkit-scrollbar:vertical{width:8px}
.gridjs-wrapper::-webkit-scrollbar:horizontal{height:8px}
.gridjs-wrapper::-webkit-scrollbar-thumb{background-color:#98A2B3 !important; border-radius:8px;}


td.gridjs-td, th.gridjs-th{padding: 0.45rem !important; font-size: 12px; min-width: 60px; color: #667085 !important; white-space: nowrap; font-weight: normal; z-index: 9999 !important;}
td.gridjs-td{font-size: 14px;}
table.gridjs-table{table-layout: auto !important; height:0 !important;}
th.gridjs-th,td.gridjs-td{ border-bottom: solid 1px #eaecf0 !important; border-left: 0; border-right: 0; border-top: 0;}
table .gridjs-tbody tr.gridjs-tr:hover{background-color: #f3f4f5;}

.badge-soft-primary{color:#098b8b !important; background-color:#f5fbfb !important; border-radius: 50px !important; padding: 4px 8px !important;}
.valueBox{width: 45px; height: 30px; line-height: 30px; background-color: #f3f4f8; color: #344154; border: none; border-radius: 25px;}
.valueBoxGreen{width: 45px; height: 30px; line-height: 30px; background-color: #f5fbfb; color: #098b8b; border: none; border-radius: 25px;}
.valueBoxRed{width: 45px; height: 30px; line-height: 30px; background-color: #fef2f2; color: #f04438; border: none; border-radius: 25px;}
.lineHeight{line-height: 30px;}
.uploadIcon{ background-color: #f2f4f7; border: solid 5px #f9fafb; border-radius: 25px; width: 45px; height: 45px;}
.uploadIcon svg{text-align: center; position: absolute; left: 5px; top: 5px;}
.uploadIcon svg{vertical-align: inherit !important; color: #475467;}
.text-green{color: #098b8b !important;}
.text-blue{color: #5672C6 !important;}
textarea{resize: none;}
.gridjs-td svg{width: 15px; height: 15px; margin: 0 auto;}
.uploadBtn svg{width: 15px; height: 15px; margin: 0 auto;}
.right-10{right: -10px !important;}
.pl30{padding-left: 30px !important;}
.inputIconInner{position: absolute; left: 10px; top: 0px; z-index: 99; width: 35px; height: 35px; line-height: 35px; text-align: center;}
.datagridIcon{z-index: 999; right: 10px; top:15px;}
.datagridIcon button{background-color: inherit !important; padding:0 5px !important;}
.datagridIcon .btn{box-shadow:none !important; border: none !important;}
.datagridIcon .btn:focus,.datagridIcon .btn:hover{box-shadow:none !important; border: none !important;}

.datagridIcon button svg {/*fill: #667085 !important;*/ width: 20px; height: 20px;}
.datagridIcon button svg.active{fill: #098b8b !important;}
.datagridIcon button svg:hover{fill: #098b8b !important;}

.datagridIcon ul{list-style: none; margin: 0; padding: 0;}
.datagridIcon ul li{line-height: 87px; margin: 0 10px;}
.datagridIcon ul li a svg{width: 18px; height: auto; color: #667085;}
.datagridIcon ul li a svg:hover{color: #098b8b;}
.datagridIcon ul li a.avtive svg{color: #098b8b;}

.datacolorul{z-index: 999; right: 25%; top:75px;}
.datacolorul ul{list-style: none; margin: 0; padding: 0;}

/*** Filter Btn Style and Event Start ***/
.filterBtn{margin: 0;}
.right-bar{
  background-color:var(--bs-white);
  -webkit-box-shadow:0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
  box-shadow:0 0 24px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.02);
  display:block;
  position:fixed;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
  width:280px;
  z-index:9999;
  float:left !important;
  left:-290px !important;
  top:0;
  bottom:0
}
.right-bar .right-bar-toggle-close{
  background-color:#fff;
  height:24px;
  width:24px;
  line-height:24px;
  color:#000;
  text-align:center;
  border-radius:50%
}
.right-bar .right-bar-toggle-close:hover{
  background-color:#098b8b;
  color: #fff !important;
}
.rightbar-overlay{
  background-color:rgba(52,58,64,.55);
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:none;
  z-index:9998;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out
}
.right-bar-enabled .right-bar{
  left:0 !important;
}
/*** Filter Btn End ***/

/** inner Nav Start **/
.nav-tabs-custom .nav-item .nav-link.active{color:#098b8b !important; background-color: rgba(255,255,255, 0) !important;}
.nav-tabs-custom .nav-item .nav-link:hover{color:#098b8b !important;}
.nav-tabs-custom .nav-item .nav-link::after{background:#098b8b !important;}

/** inner Nav end **/

.redbadge{ background-color: #fef3f2 !important; color: #b42318 !important;}

/** Accordian Start **/
.accordion-button:not(.collapsed){background-color: inherit !important;}
.accordion-button:not(.collapsed){color: #098b8b !important;}
/** Accordian End **/

.btn-outline-secondary{
  --bs-btn-color:#74788d;
  --bs-btn-border-color:#d1d5de;
  --bs-btn-hover-color:#000 !important;
  --bs-btn-hover-bg:#098b8b !important;
  --bs-btn-hover-border-color:#74788d;
  --bs-btn-focus-shadow-rgb:255,255,255 !important;
  --bs-btn-active-color:#000 !important;
  --bs-btn-active-bg:#098b8b !important;
  --bs-btn-active-border-color:#74788d;
  --bs-btn-active-shadow: inherit !important;
  --bs-btn-disabled-color:#74788d;
  --bs-btn-disabled-bg:transparent;
  --bs-gradient:none;
}

.col-1 { width: 10%; min-width: 50px; max-width: 200px; }

.nav-pills .nav-link{background:#ebebeb; margin-bottom: 1px !important;}
.nav-pills .nav-link.active{background:#098b8b; color: #fff !important;}
.nav-pills .nav-link{border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0 }
.nav-pills .nav-link:first-child{border-bottom-left-radius: 0; border-top-left-radius: 0.25rem;}
.nav-pills .nav-link:last-child{border-bottom-left-radius: 0.25rem; margin-bottom: 0 !important;}
.border-bottom-left{border-bottom-left-radius: 0 !important;}
.border-bottom-right{border-bottom-right-radius: 0 !important;}
.bg-gray{ background-color: #44699d;}

/** Login Page Style **/
.loginBG{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/signInImg.jpg");
}
.welcomeTxt{z-index: 9999; left: 25%; top: 42%;}
.greenColor{color: #098b8b;}
.form-floating-custom>.form-control,.form-floating-custom>.form-select{padding-left: 60px !important;}
.showEye{z-index: 9999; right: 10px; top: 23px;}

/*** Reconciation Style ***/
.tlmaindiv{border: solid 5px #f1f5f6; width: 50px;height: 50px;position: relative;top: -18px;border-radius: 50%;}
.tlmaindiv p{position: absolute; bottom: -35px; color: #098b8b; font-weight: 600; white-space: nowrap; text-align: center;}
.tlmaindiv .pLeft{left: -8px;}
.timelineHdlr::before {content: "";position: absolute;height: 2px;width: 100%;left: 0;top: 7px;background-color: #098b8b;}
.tlCirclesInactive{width: 40px; height: 40px; text-align: center; line-height: 38px; border-radius: 50%; border: solid 1px #098b8b; background-color: #fff; position: absolute; z-index: 9999; top: 0;}
.dot {height: 12px;width: 12px; background-color: #098b8b; border-radius: 50%; display: inline-block;}


.hori-timeline .event-list::before{
  content:"";
  position:absolute;
  height:2px;
  width:100%;
  left:0;
  top:7px;
  background-color:#098b8b !important;
}
.hori-timeline .event-list:after{
  content:"";
  position:absolute;
  width:40px;
  height:40px;
  background-color:#fff;
  border:1px solid #098b8b;
  border-radius:50%;
  top:-13px !important;
  left:0;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  display:block
}
.progress {--bs-progress-height:0.825rem !important}
.progress-bar{background-color:#098b8b !important;}

.reconcilation .form-select::before { content:"\f007";}  
.modalClientInfo{--bs-modal-width: 950px !important;}
.userprofileavtar{width: 48px; height: 48px; border: 0; border-radius: 50%; background-color: #e3ebeb; color: #098b8b; line-height: 48px; text-align: center;}
.nextArrow a{width: 56px; height: 56px; border: 0; border-radius: 50%; background-color: #fff; color: #0F172A !important; line-height: 54px; text-align: center;}
.nextArrow a:hover{background-color:#098b8b; color: #fff !important;}

.nextArrow a svg{ width: 25px; height: auto;}

.accountsPage ul{list-style: none; margin: 0; padding: 0;}
.accountsPage ul li{float: left;}
/* .accountsPage ul li::after{content: "|";}
.accountsPage ul li::after :la{content: " ";} */

.accountsPage ul li a{text-decoration: none; padding: 0 0.465rem;}
.nav-tabs>li>a{color:#667085 !important;}
.nav-tabs>li>a:hover{color:#098b8b !important;}


/** Timeline Style **/

.wizard-nav .wizard-list-item{ text-align: left !important;}
.wizard-nav .wizard-list-item:nth-last-child(2){ text-align: center !important;}
.wizard-nav .wizard-list-item:last-child{ text-align: right !important;}
.wizard-nav .borderGray{border-color: #a1aebe !important;}
.wizard-nav .borderGreen{border-color: #098b8b !important;}
.wizard-nav .step-icon {
  /*border-color: #098b8b !important;*/
  background-color: #098b8b ;
  color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 38px !important;
}
.wizard-nav .list-item::after{background-color: #098b8b !important;}
.wizard-nav .list-item::after:nth-last-child(2){background-color: #ff0000 !important;}
.wizardText{bottom: -30px; left: -3px; font-weight: 600; white-space: nowrap;}
.wizard-list-item .firstLine::after{width: 125% !important; left: 15%;}
.wizard-list-item .secondLine::after{width: 125% !important; left: 59%; background-color: #a1aebe !important;}
.btn {--bs-btn-padding-x: 0.45rem !important;}

.dropdown-menu a{color: #344155 !important;}
.dropdown-menu a:hover{color: #098b8b !important;}
.user .user-name {font-size: 14px !important; color: #344054 !important;}
.user .user-sub-title {color: #667085 !important; font-size: 14px !important; font-weight: 400 !important;}
.bgGreen { background-color: #098b8b !important;}
/* .page-title-box h4 {font-size: 30px !important;} */
.page-title-box h4 span {color:#667085;}
.page-title-box h5 span {color:#667085;}
.nav-tabs-custom .nav-item .nav-link{font-size: 14px !important; font-weight: 500 !important; color: #667085 !important;}
label{font-weight:500; margin-bottom:.5rem; font-size: 14px !important;}
.search-box .search-icon{left:10px; line-height: 33px !important; top: 9px;}
.search-box input{padding-left: 35px !important;}
.colorsmallCard{color: #101828 !important;}
.colorsmallTitle{color: #667085 !important; position: relative; top: -2px;}
.shadow{-webkit-box-shadow:3px 3px 3px rgba(43, 47, 51, 0.09)!important; box-shadow:3px 3px 3px rgba(43, 47, 51,.09)!important}
.dropdownFlag{width: 20px; height: 20px; border: 0; border-radius: 50%; line-height: 20px; text-align: center;}
.unreconcilied{ border: 1px solid #7f56da; background-color: #098b8b;}
.right0{right: 0 !important;}
.top0{top: 0 !important;}
.nav-tabs-custom .nav-item .nav-link span{ width: 22px !important; height: 22px !important; display: inline-block; text-align: center; line-height: 22px; background-color:rgba(242, 244, 247, 1); color: #344054;}
.nav-tabs-custom .nav-item .nav-link.active span{ width: 24px !important; height: 24px !important; display: inline-block; text-align: center; line-height: 24px; background-color:rgba(9, 139, 139, 0.04); color: #098B8B;}


/** SVG Class **/
.innerNavHolder img{width: 15px; height: auto; color: #667085; position: relative; top: -1px;}
.tablepagination a{ border: none; border-radius: 8px; width: 40px; height: 40px; line-height: 40px; text-align: center; color: #667085 !important;}
.tablepagination a:hover,.tablepagination a.active{background-color: rgba(9, 139, 139, 0.04); color: rgba(127, 86, 217, 1) !important;}




/* Date Calendar Style Start */


.theme-green .bs-datepicker-head {
  background-color: #098b8b;
}
.theme-green .bs-datepicker-body table td.week span {
  color: #306191;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green
.bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body
table td span[class*=select-]:after,
.theme-green .bs-datepicker-body
table td[class*=select-] span:after {
  background-color: #098b8b;
}
.bs-datepicker{
  margin-left: 19rem!important;
}
bs-datepicker-container, bs-daterangepicker-container {
  z-index: 9999 !important;
}

/*** Add by Nitin 21-07-2024 ***/
.svgBtn a svg{color: #000; width: 20px; height: auto; position: relative; top: 7px;}
.svgBtn a:hover svg{color: #098b8b;}

.accordianPlus a svg{color: #000; width: 15px; height: auto;}
.accordianPlus a:hover svg{color: #098b8b;}
.buttonGroup .dropdown-menu{--bs-dropdown-min-width:50px !important}