<form [formGroup]="serviceConfigs">
  <div class="container" formGroupName="request">
  <div class="row mb-2" formGroupName="body">
      <div class="col-xl-12 m-auto">
        <div class="card card-h-100">
          <div class="card-body">
              <h4 class="card-title mb-4">Add custome rule</h4>
              <hr >
              <div class="d-flex justify-content-between">
                <div class="col-xl-4 pe-3 mb-3">
                  <label class="form-label">Company</label>
                  <select class="form-select" formControlName="companyId" (ngModelChange)="getCompanyId($event)"
                  [ngStyle]="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
            <option  selected [ngValue]=null>--Select--</option>
            <option *ngFor="let data of companyDropdown"
                    [ngValue]="data.key">{{data.value}}</option>
          </select>
          <div style="color: red" *ngIf="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)">
            <small *ngIf="controls['companyId'].errors?.['required']">
              Company is required.
            </small>
          </div>
              </div>
              <div class="col-xl-4  pe-3 mb-3">
                  <label class="form-label">Module</label>
                  <select class="form-select" formControlName="moduleId" (ngModelChange)="getModuleId($event)"
                  [ngStyle]="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
            <option selected [ngValue]=null>--Select--</option>
            <option *ngFor="let data of ModuleDropdown"
                    [ngValue]="data.id">{{data.display_field}}</option>
          </select>
          <div style="color: red" *ngIf="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)">
            <small *ngIf="controls['moduleId'].errors?.['required']">
              Module is required.
            </small>
          </div>
              </div>
                  <div class="col-xl-4 pe-3 mb-3">
                      <label class="form-label">Check type</label>
                      <select class="form-select" formControlName="checkTypeId" (ngModelChange)="getCheckType($event)"
                      [ngStyle]="controls['checkTypeId'].invalid && (controls['checkTypeId'].dirty || controls['checkTypeId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                <option selected [ngValue]=null>--Select--</option>
                <option *ngFor="let data of checkTypeValues"
                        [ngValue]="data.id">{{data.display_field}}</option>
              </select>
              <div style="color: red" *ngIf="controls['checkTypeId'].invalid && (controls['checkTypeId'].dirty || controls['checkTypeId'].touched || submitted)">
                <small *ngIf="controls['checkTypeId'].errors?.['required']">
                  Check Type is required.
                </small>
              </div>
                  </div>
              </div>
          </div> <!-- end card-body-->
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="col-xl-4 pe-3 mb-3">
                    <label class="form-label">Rule Name</label>
                    <input type="text" class="form-control" placeholder="Type Rule Name" formControlName="customCheckRuleName"
                     (ngModelChange)="ruleName($event)"
                     [ngStyle]="controls['customCheckRuleName'].invalid && (controls['customCheckRuleName'].dirty || controls['customCheckRuleName'].touched || submitted) || UniqueRuleName?{color:'red',border:'1px solid red'}:{}"
                     [ngClass]="controls['customCheckRuleName'].invalid && (controls['customCheckRuleName'].dirty || controls['customCheckRuleName'].touched || submitted) || UniqueRuleName?'redPlaceholder':''"/>
              <div style="color: red" *ngIf="controls['customCheckRuleName'].invalid && (controls['customCheckRuleName'].dirty || controls['customCheckRuleName'].touched || submitted) || UniqueRuleName">
                <small *ngIf="controls['customCheckRuleName'].errors?.['required']">
                  Rule Name is required.
                </small>
                <small *ngIf="UniqueRuleName">
                  This name already exist
                </small>
              </div>
                </div>
                <div class="col-xl-4 pe-3 mb-3">
                  <label class="form-label">Description</label>
                  <input type="text" class="form-control" placeholder="Type Description" formControlName="description"
                     (ngModelChange)="getDesc($event)"
                     [ngStyle]="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched || submitted)?{color:'red',border:'1px solid red'}:{}"
                     [ngClass]="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched || submitted)?'redPlaceholder':''"/>
              <div style="color: red" *ngIf="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched || submitted)">
                <small *ngIf="controls['description'].errors?.['required']">
                  Description is required.
                </small>
              </div>
              </div>
              <div class="col-xl-4 mb-3">
                <label class="form-label">Status</label>
                <div class="d-flex justify-content-start form-check form-switch pt-1">
                    <input class="form-check-input float-end valign-middle mt-1"  formControlName="status" type="checkbox" id="blacklist">
                </div>
              </div>
            </div>
        </div>
      </div> <!-- end card-->

      </div>
  </div>
  <div class="row mb-2" formGroupName="body">
      <div class="col-xl-12 m-auto">
        <div class="card card-h-100">
          <div class="card-body">
              <h4 class="card-title mb-4">Conditions</h4>
              <div *ngFor="let totalService of detailsControl.controls;index as i" formArrayName="detail">
                  <div class="d-flex justify-content-start mt-3 mb-2" [formGroupName]="i-1" *ngIf="i!=0">
                      <div class="form-check me-2">
                          <input class="form-check-input" type="radio" name="formRadios" id="formRadios1" checked="" formControlName="andOr"
                          [ngStyle]="arrayControls(i-1,'andOr','invalid') && (arrayControls(i-1,'andOr','dirty') ||
                           arrayControls(i-1,'andOr','touched') || submitted)?{color:'red',border:'1px solid red'}:{}" [value]="'AND'">
                          <label class="form-check-label" for="formRadios1">And</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="formRadios" id="formRadios2" formControlName="andOr"
                          [ngStyle]="arrayControls(i-1,'andOr','invalid') && (arrayControls(i-1,'andOr','dirty') ||
                           arrayControls(i-1,'andOr','touched') || submitted)?{color:'red',border:'1px solid red'}:{}"  [value]="'OR'">
                          <label class="form-check-label" for="formRadios2">Or</label>
                      </div>
                      <div style="color: red" *ngIf="(arrayControls(i-1,'andOr','dirty') || arrayControls(i-1,'andOr','touched') || submitted)" class="pt-1">
                        <small *ngIf="arrayControls(i-1,'andOr','errors')?.['required']">
                          And/Or is required.
                        </small>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between" [formGroupName]="i">
                      <div class="col-xl-4 pe-3 mb-3">
                        <label class="form-label">Data point</label>
                        <select class="form-select" formControlName="dataPointId"
                          [ngStyle]="arrayControls(i,'dataPointId','invalid') && (arrayControls(i,'dataPointId','dirty') ||
                                                   arrayControls(i,'dataPointId','touched') || submitted)?{color:'red',border:'1px solid red'}:{}" (ngModelChange)="getOperators($event,i)"
                          id="selServiceTypeId">
                          <option selected [ngValue]=null>--Select--</option>
                          <option *ngFor="let data of serviceTypeDropdown" [ngValue]="data.key">{{data.value}}</option>
                        </select>
                        <div style="color: red" *ngIf="(arrayControls(i,'dataPointId','dirty') || arrayControls(i,'dataPointId','touched') || submitted)" class="pt-1">
                          <small *ngIf="arrayControls(i,'dataPointId','errors')?.['required']">
                            Datapoint is required.
                          </small>
                        </div>
                      </div>
                      <div class="col-xl-4 pe-3 mb-3">
                          <label class="form-label">Operator</label>
                          <select class="form-select" formControlName="operatorId"
                            [ngStyle]="arrayControls(i,'operatorId','invalid') && (arrayControls(i,'operatorId','dirty') ||
                             arrayControls(i,'operatorId','touched') || submitted)?{color:'red',border:'1px solid red'}:{}">
                      <option selected [ngValue]=null>--Select--</option>
                      <option *ngFor="let data of Operators[i]" [ngValue]="data.id">{{data.value}}</option>
                    </select>
                    <div style="color: red" *ngIf="(arrayControls(i,'operatorId','dirty') || arrayControls(i,'operatorId','touched') || submitted)" class="pt-1">
                      <small *ngIf="arrayControls(i,'operatorId','errors')?.['required']">
                        Operator is required.
                      </small>
                    </div>
                      </div>
                      <div class="col-xl-3 mb-3 pe-3">
                        <label class="form-label">Value</label>
                        <select *ngIf="enableDropdown[i]" class="form-select" formControlName="value" [ngStyle]="arrayControls(i,'value','invalid') && (arrayControls(i,'value','dirty') ||
                                                   arrayControls(i,'value','touched') || submitted)?{color:'red',border:'1px solid red'}:{}">
                          <option selected [ngValue]=null>--Select--</option>
                          <option *ngFor="let serviceStatus of ServiceStatus[i]">{{serviceStatus}}</option>
                        </select>
                        <div *ngIf="!enableDropdown[i]">
                          <input (keydown.dot)="(dataTypes[i]==='int' || dataTypes[i]=== 'date')?$event.preventDefault():null" id="num"
                                 [type]="(dataTypes[i]==='int' || dataTypes[i]=== 'decimal' || dataTypes[i]=== 'date')?'number':'text'"
                                 class="form-control" formControlName="value"
                                 [placeholder]="'Type Value..'"
                                 [ngStyle]="arrayControls(i,'value','invalid') && (arrayControls(i,'value','dirty') ||
                                   arrayControls(i,'value','touched') || submitted)?{color:'red',border:'1px solid red'}:{}"
                                 [ngClass]="arrayControls(i,'value','invalid') && (arrayControls(i,'value','dirty') ||
                          arrayControls(i,'value','touched') || submitted)?'redPlaceholder':''">
                          </div>
                          <div style="color: red" *ngIf="(arrayControls(i,'value','dirty') || arrayControls(i,'value','touched')
                          || submitted)" class="pt-1">
                            <small *ngIf="arrayControls(i,'value','errors')?.['required']">
                              Value is required.
                            </small>
                          </div>
                      </div>
                      <div class="col-xl-1 svgBtn">
                        <a type="button" (click)="removeService(i)" class="float-start mt-4 p-1" matTooltip="Remove" matTooltipPosition="above">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                              </svg>
                            </a>
                    </div>
                  </div>
              </div>
              <hr >
              <button style="margin-right: 43rem" [ngClass]="{'opacity-100 pe-auto':( this.serviceConfigs.valid && !this.UniqueRuleName),'opacity-50 pe-none':!(this.serviceConfigs.valid && !this.UniqueRuleName)}" (click)="addMoreService()" type="button" class="btn btn-outline-secondary float-start"><i data-feather="trash-2">Add More</i></button>
              <div class="d-flex justify-content-end">
                  <button (click)="goBack()" type="button" class="btn btn-outline-secondary me-3">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="saveServiceConfigs()" [ngClass]="{'opacity-100 pe-auto':(this.serviceConfigs.valid && !this.UniqueRuleName && this.detailsControl.length>0),'opacity-50 pe-none':!(this.serviceConfigs.valid && !this.UniqueRuleName && this.detailsControl.length>0)}">Save Rule</button>
              </div>
          </div> <!-- end card-body-->
      </div> <!-- end card-->
      </div>
  </div>
</div>
</form>
<app-popupbox-confirmation [display]=openPop [Description]="alertMessage" (action)="closePopup()" [AlertMessage]="AlertMessage" [fontColor]="fontColor"></app-popupbox-confirmation>
<!-- <app-popupbox [display]=openPopWithAction (action)="closePopup($event)"
[AlertMessage]="AlertMessage"></app-popupbox> -->