<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Service checks<br><span class="fn12 text-dark">Clients we work with and their transactions</span></h4>
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item"  *ngFor="let finalResponse of Display;index as i" (click)="onClick(finalResponse.service_name,i)">
                        <h2 class="accordion-header" id="heading{{i}}">
                            <button class="accordion-button fw-medium" id="serviceName{{i}}" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                                {{finalResponse.service_name}}
                                <span class="badge badge-soft-primary py-2 ms-2">sucess</span>
                            </button>
                        </h2>
                        <!-- <div [id]="'collapse' + i" class="accordion-collapse collapse" [class.show]="i === 0" [attr.aria-labelledby]="'heading{{i}}'" data-bs-parent="#accordionExample"> -->
                        <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading{{i}}'" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <div class="table mb-0">
                                <div class="gridjs gridjs-container" style="width: 100%;" >
                                    <div class="gridjs-wrapper" style="height: 70px;">
                                        <table class="gridjs-table " style="height: 400px;" *ngFor="let detail of Details[i]">
                                            <thead class="gridjs-thead">
                                                <tr class="gridjs-tr">
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngIf="detail.externalServiceCheckId || finalResponse.service_name=='RISK_ASSESSMENT'">Details</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngFor="let checks of detail.checkField" [ngStyle]="detail.type==='EXTERNAL'?{display:'none'}:{display:'auto'}">{{checks.field}}</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Checked Date</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Checked By</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Description</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Response</th>
                                                    <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody class="gridjs-tbody">
                                                <tr class="gridjs-tr">
                                                    <td class="gridjs-td" [ngStyle]="(detail.externalServiceCheckId===null && finalResponse.service_name!='RISK_ASSESSMENT')?{display:'none'}:{display:'auto'}" (click)="sanctionCheckResult(finalResponse.service_name,detail.id,detail.externalServiceCheckId)">+</td>
                                                    <td class="gridjs-td" *ngFor="let checks of detail.checkField" [ngStyle]="detail.type==='EXTERNAL'?{display:'none'}:{display:'auto'}">{{checks.result}}</td>
                                                    <td class="gridjs-td">{{detail.checkedDate}}</td>
                                                    <td class="gridjs-td"> {{detail.checkedByName}}</td>
                                                    <td class="gridjs-td">{{detail.description}}</td>
                                                    <td class="gridjs-td" *ngIf="detail.responseReference" (click)="downloadRef(detail.responseReference,finalResponse.id)">{{detail.responseReference}}
                                                      <i class="fa fa-download p-1"></i></td>
                                                    <td class="gridjs-td" [ngStyle]="(detail.result==='PASS')?{}:{color:'#e85a20'}">{{detail.result}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->
