<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center border-0">
                <h4 class="card-title">Payment out <span class="badge badge-soft-primary py-2">100 users</span></h4>
            </div><!-- end card header -->
            <div class="row">
                <div class="card-body pt-0">
                    <div class="table mb-0">
                        <div class="gridjs gridjs-container" style="width: 100%;">
                            <div class="gridjs-wrapper" style="height: 400px;">
                                <table class="gridjs-table " style="height: 400px;">
                                    <thead class="gridjs-thead">
                                        <tr class="gridjs-tr">
                                          <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="min-width: 91px; width: 101px; top:0" *ngFor="let header of tabColumns">{{header.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="gridjs-tbody">
                                        <tr class="gridjs-tr">
                                            <td class="gridjs-td">851783</td>
                                            <td class="gridjs-td">folayan Olakunle Folaranmi</td>
                                            <td class="gridjs-td">2296318100</td>
                                            <td class="gridjs-td">UNAFNGLA</td>
                                            <td class="gridjs-td"><img src="assets/images/flags/us.jpg" class="flagHolder">USD</td>
                                            <td class="gridjs-td">7200.2</td>
                                            <td class="gridjs-td">NG</td>
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td">2024:03:27 17:52:12</td>
                                            <td class="gridjs-td"><div class="inactive float-start fn11">Hold</div></td>
                                            <td class="gridjs-td"><i data-feather="lock" class="icon15x15"></i> Locked</td>
                                            <td class="gridjs-td"><div class="checkMarkBox"><i class="fas fa-check icon15x15"></i></div></td>
                                            <td class="gridjs-td"><div class="crossMarkBox"><span class="icon15x15">X</span></div></td>
                                            <td class="gridjs-td text-center">NR</td>
                                            <td class="gridjs-td"><div class="crossMarkBox"><span class="icon15x15">X</span></div></td>
                                            <td class="gridjs-td"><div class="checkMarkBox"><i class="fas fa-check icon15x15"></i></div></td>
                                            <td class="gridjs-td"><div class="crossMarkBox"><span class="icon15x15">X</span></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="gridjs-footer p-0 mt-3">
                                <div class="gridjs-pagination">
                                    <div class="gridjs-pages float-none d-flex justify-content-between">
                                        <a title="Previous" href="javascript:void();" class="btn btn-outline-purple"><i class="fas fa-long-arrow-alt-left"></i> Previous</a>
                                        <div class="d-flex">
                                            <a href="javascript:void();" class="btn btn-light" title="Page 1">1</a>
                                            <a href="javascript:void();" class="btn" title="Page 2">2</a>
                                            <a href="javascript:void();" class="btn" title="Page 3">3</a>
                                            <a href="javascript:void();" class="btn" title="Page 4">4</a>
                                            <a href="javascript:void();" class="btn" title="Page 5">5</a>
                                            <a href="javascript:void();" class="btn" title="Page 6">6</a>
                                            <a href="javascript:void();" class="btn" title="Page 7">7</a>
                                        </div>
                                        <a title="Next" href="javascript:void();" class="btn btn-outline-purple">Next <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<app-filtersidebar [searchOptions]="tabColumns" (searchEmit)="searchEmited($event)" (reset)="clearSearch()" ></app-filtersidebar>
