<div id="layout-wrapper">
  <header id="page-topbar" class="left0">
      <app-innerheader></app-innerheader>
  </header>
  <div class="main-content mleft0">
      <div class="page-content">
          <div class="container-fluid">
            <div class="d-flex justify-content-end mb-4">
                    <app-filterbutton *ngIf="!disableSearch" (clickSearch)="click()" class="me-3"></app-filterbutton>
            </div>
              <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
          </div>
      </div>
  </div>
</div>
