   <div id="layout-wrapper">
    <div class="main-content mleft0">
        <header id="page-topbar" class="left0">
            <app-innerheader></app-innerheader>
        </header>
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h5 class="mb-0 fn30 text-black">Dashboard<span class="fn16 fw-500 d-block">Clients we work with and their transactions</span></h5>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="row">
                                <div class="card-body">
                                    <div class="search-box col-md-3">
                                        <div class="position-relative">
                                            <input type="text" class="form-control rounded ps-2" placeholder="Search for accounts">
                                            <img class="search-icon" src="assets/images/svg/searchIcon.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div>
                    <ul class="nav nav-tabs nav-tabs-custom mb-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink='/dashboard/graph/payin'
                                routerLinkActive='active'>Incoming Funds
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/dashboard/graph/payout' routerLinkActive='active'
                                [routerLinkActiveOptions]="{exact:true}">Outgoing Funds
                            </a>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>