<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="card-title">Blacklist Type Details</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-start">
          <form [formGroup]="blacklistTypeDropdown" >
            <div class="row" formGroupName="request" >
              <div class="col-xl-3 mb-3" formGroupName="body">
                <label class="form-label">Module<span class="text-danger">*</span></label>
                <select class="form-select" formControlName="moduleId" (ngModelChange)="getModuleId()"
                  [ngStyle]="control1['moduleId'].invalid && (control1['moduleId'].dirty || control1['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{color:'black'}">
                  <option selected [ngValue]=null>--Select--</option>
                  <option *ngFor="let data of moduleDropdown" [ngValue]="data.id">{{data.display_field}}</option>
                </select>
                <div style="color: red"
                  *ngIf="control1['moduleId'].invalid && (control1['moduleId'].dirty || control1['moduleId'].touched || submitted)">
                  <small *ngIf="control1['moduleId'].errors?.['required']">
                    Module is required.
                  </small>
                </div>
              </div>
              <div class="col-xl-3 mb-3" formGroupName="body">
                <label class="form-label">Company<span class="text-danger">*</span></label>
                <select class="form-select" formControlName="companyId" (ngModelChange)="companyName()"
                  [ngStyle]="control1['companyId'].invalid && (control1['companyId'].dirty || control1['companyId'].touched || submitted)?{color:'red',border:'1px solid red'}:{color:'black'}">
                  <option selected [ngValue]=null>--Select--</option>
                  <option *ngFor="let data of companyResponse" [ngValue]="data.key">{{data.value}}</option>
                </select>
                <div style="color: red"
                  *ngIf="control1['companyId'].invalid && (control1['companyId'].dirty || control1['companyId'].touched  || submitted)">
                  <small *ngIf="control1['companyId'].errors?.['required']">
                    Company is required.
                  </small>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="blacklistTypeMaster">
            <div class="row" formGroupName="request">
              <div class="col-xl-3 mb-3" formGroupName="body">
                <label class="form-label">BlackList Type<span class="text-danger">*</span></label>
                <select class="form-select" formControlName="blackListTypeId"
                  (ngModelChange)="blackListTypeIdIndex($event)"
                  [ngStyle]="control2['blackListTypeId'].invalid && (control2['blackListTypeId'].dirty || control2['blackListTypeId'].touched || submitted)?{color:'red',border:'1px solid red'}:{color:'black'}">
                  <option selected [ngValue]=null>--Select--</option>
                  <option *ngFor="let data of blacklistTypeResponse" [ngValue]="data.key">{{data.value}}</option>
                </select>
                <div style="color: red"
                  *ngIf="control2['blackListTypeId'].invalid && (control2['blackListTypeId'].dirty || control2['blackListTypeId'].touched  || submitted)">
                  <small *ngIf="control2['blackListTypeId'].errors?.['required']">
                    Blacklist Type is required.
                  </small>
                </div>
              </div>
              <div class="col-xl-3 mb-3" formGroupName="body">
                <label class="form-label">Blacklist Column Name<span class="text-danger">*</span></label>
                <input type="text" placeholder="Type here.." class="form-control font-12"
                  formControlName="blackListValue"
                  [ngStyle]="control2['blackListValue'].invalid && (control2['blackListValue'].dirty || control2['blackListValue'].touched || submitted)?{color:'red',border:'1px solid red'}:{color:'black'}">
                <div style="color: red"
                  *ngIf="control2['blackListValue'].invalid && (control2['blackListValue'].dirty || control2['blackListValue'].touched  || submitted)">
                  <small *ngIf="control2['blackListValue'].errors?.['required']">
                    Blacklist Type is required.
                  </small>
                </div>
              </div>
              <div class="col-xl-3 mb-3" formGroupName="body">
                <label class="form-label">Status</label>
                <div class="d-flex justify-content-start form-check form-switch pt-1">
                  <input formControlName="status" class="form-check-input float-end valign-middle mt-1" type="checkbox"
                    id="blacklist">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="clearfix"></div>
    <button type="button" class="btn btn-primary mb-3 float-end" style="cursor: pointer;" (click)="save()">
      <i data-feather="plus" class="icon15x15"></i> Save Details
    </button>
    <button type="button" class="btn mb-3 btn-outline-secondary float-end me-3" routerLink="/Configuration/Add_BlackList_Details">
      <i data-feather="plus" class="icon15x15"></i> Cancel
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header justify-content-between d-flex align-items-center border-0">
              <h4 class="card-title">Blacklist Details<span class="badge badge-soft-primary py-2">{{blacklistdetailAll?.length}} Blacklist Details</span></h4>
              <!-- <button routerLink="/Configuration/Blacklist_Type_Master" type="button" class="btn btn-success"><i data-feather="plus" class="icon15x15"></i> Add new</button> -->
          </div><!-- end card header -->
          <div class="row">
              <div class="card-body pt-0">
                  <div class="table mb-0">
                      <div class="gridjs gridjs-container" style="width: 100%;">
                          <div class="gridjs-wrapper" style="height: 400px;">
                              <table class="gridjs-table " style="height: 400px;">
                                  <thead class="gridjs-thead">
                                      <tr class="gridjs-tr">
                                          <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngFor="let tab of tabColumns">{{tab.name}}</th>
                                  </thead>
                                  <tbody class="gridjs-tbody">
                                      <tr class="gridjs-tr" *ngFor="let data of blacklistdetailAll; index as i">
                                          <td class="gridjs-td">{{data.module}}</td>
                                          <td class="gridjs-td">{{data.companyName}}</td>
                                          <td class="gridjs-td">{{data.blacklistType}}</td>
                                          <td class="gridjs-td">{{data.blacklistValue}}</td>
                                          <td class="gridjs-td">{{data.createdDate}}</td>
                                          <td class="gridjs-td">{{data.creatorName}}</td>
                                          <td class="gridjs-td">{{data.updatedDate}}</td>
                                          <td class="gridjs-td">{{data.updaterName}}</td>
                                          <td class="gridjs-td" [ngStyle]="{'color':data.status ? 'green' : 'red'}">
                                            {{data.status ? 'Active' : 'Inactive'}}
                                          </td>
                                        </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-popupbox-confirmation [display]=openPop [Description]="alertMessage" (action)="closePopup()" [AlertMessage]="AlertMessage" [fontColor]="fontColor"></app-popupbox-confirmation>
