<app-popupbox></app-popupbox>
<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header justify-content-between d-flex align-items-center border-0">
              <h4 class="card-title">User details <span class="badge badge-soft-primary py-2">{{logInResponse?.length}} users</span></h4>
              <button type="button" class="btn btn-success" routerLink="/Admin/Add_User"><i data-feather="plus" class="icon15x15"></i> Add new</button>
          </div><!-- end card header -->
              <div class="row">
                  <div class="card-body pt-0">
                      <div class="table mb-0">
                          <div class="gridjs gridjs-container" style="width: 100%;">
                              <div class="gridjs-wrapper" style="height: 400px;">
                                  <table class="gridjs-table " style="height: 400px;">
                                      <thead class="gridjs-thead">
                                          <tr class="gridjs-tr">
                                              <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngFor="let col of tabColumns">
                                                {{col.name}}
                                              </th>
                                          </tr>
                                      </thead>
                                      <tbody class="gridjs-tbody">
                                          <tr class="gridjs-tr" *ngFor="let data of logInResponse; index as i">
                                            <td class="gridjs-td">{{data.emailId}}</td>
                                            <td class="gridjs-td">{{data.departmentName}}</td>
                                            <td class="gridjs-td">{{data.mobileNo}}</td>
                                            <td class="gridjs-td">{{data.firstName}}</td>
                                            <td class="gridjs-td">{{data.middleName}}</td>
                                            <td class="gridjs-td">{{data.lastName}}</td>
                                            <td class="gridjs-td">{{data.jobTitle}}</td>
                                            <td class="gridjs-td" [ngStyle]="{'color':data.status ? 'green' : 'red'}">
                                              <div class="activeStatus float-start fn11">
                                                {{data.status ? 'Active' : 'Inactive'}}
                                              </div>
                                            </td>
                                            <td class="gridjs-td" matTooltipPosition="above"
                                               matTooltip="Set to {{data.status?'Inactive':'Active'}}" (click)="openPopUp(data.id,data.status)">
                                              <div class="activeStatus float-start fn11">
                                              #
                                              </div>
                                            </td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="gridjs-footer p-0 mt-3">
                                  <div class="gridjs-pagination">
                                      <div class="gridjs-pages float-none d-flex justify-content-between">
                                          <a title="Previous" href="javascript:void();" class="btn btn-outline-purple"><i class="fas fa-long-arrow-alt-left"></i> Previous</a>
                                          <div class="d-flex">
                                              <a href="javascript:void();" class="btn btn-light" title="Page 1">1</a>
                                              <a href="javascript:void();" class="btn" title="Page 2">2</a>
                                              <a href="javascript:void();" class="btn" title="Page 3">3</a>
                                              <a href="javascript:void();" class="btn" title="Page 4">4</a>
                                              <a href="javascript:void();" class="btn" title="Page 5">5</a>
                                              <a href="javascript:void();" class="btn" title="Page 6">6</a>
                                              <a href="javascript:void();" class="btn" title="Page 7">7</a>
                                          </div>
                                          <a title="Next" href="javascript:void();" class="btn btn-outline-purple">Next <i class="fas fa-long-arrow-alt-right"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          <!-- end card body -->
      </div>
      <!-- end card -->
  </div>
  <!-- end col -->
</div>
<app-popupbox [display]=openPop [Description]="alertMessage" (action)="closePopup($event)" [AlertMessage]="AlertMessage"></app-popupbox>
