<div class="right-bar">
  <div data-simplebar class="h-100">
      <div class="rightbar-title d-flex align-items-center bg-white ps-3 pe-3 pt-3 pb-1 mb-2">
          <h5 class="m-0 me-2 text-dark">Filter</h5>
          <a (click)="click()" class="right-bar-toggle-close ms-auto">
              <i class="mdi mdi-close noti-icon"></i>
          </a>
      </div>
      <hr class="m-0" />
      <div class="p-4">
        <form>
          <div *ngFor="let column of searchOptions">
            <div class="mb-2">
              <ng-container (change)="searching($event)"  *ngTemplateOutlet="getTemplate(column.dataType); context: { $implicit: column }"></ng-container>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-4">
              <button type="button" class="btn btn-outline-secondary me-3" (click)="resetSearch()">Reset</button>
              <button type="button" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
  </div>
</div>
<ng-template #inputTemplate let-column>
  <input type="text"  *ngIf="column.search" [(ngModel)]="column.value" [ngClass]="column.class" placeholder="{{ column.name }}"  (ngModelChange)="searching(column)" />
</ng-template>
<ng-template #selectTemplate let-column>
  <select  *ngIf="column.search"  [ngClass]="column.class" (change)="searching({value:$event.target?.['value'],key:column.key})">
    <option [value]=null selected hidden>{{column.name}}</option>
    <option *ngFor="let option of column.value" [ngValue]=" option.display_field">{{ option.display_field }}</option>
  </select>
</ng-template>
