/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .bs-datepicker {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bs-datepicker .bs-datepicker-head {
  background-color: #007bff;
  color: #fff;
}

.bs-datepicker .bs-datepicker-body {
  background-color: #f8f9fa;
}

.bs-datepicker .bs-datepicker-cell {
  color: #495057;
}

.bs-datepicker .bs-datepicker-cell:hover,
.bs-datepicker .bs-datepicker-cell:focus,
.bs-datepicker .bs-datepicker-cell:active {
  background-color: #e9ecef;
}

.bs-datepicker .bs-datepicker-cell.is-highlighted {
  background-color: #007bff;
  color: #fff;
}

.bs-datepicker .bs-datepicker-cell.is-disabled {
  color: #adb5bd;
} */






.alertHolder{width: 100%; height: 100vh; background: rgba(0,0,0,.8); position: fixed; left: 0; top: 0; z-index: 99999;}
.hideDisplay{display: none;}
.showDisplay{display: block;}
.alertBox{ border: none; border-radius: 10px; box-shadow: 0px 0px 20px #000; background-color: #fff; margin: 80px auto;}
