<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row d-flex justify-content-start">
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Currency*</label>
                        <select class="form-select">
                            <option selected>Select Currency</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Account Number<span class="text-danger">*</span></label>
                        <input class="form-control">
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Debtor Name<span class="text-danger">*</span></label>
                        <input class="form-control">
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Bank Name<span class="text-danger">*</span></label>
                        <input class="form-control">
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Client ID*</label>
                        <input class="form-control">
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Sender Type<span class="text-danger">*</span></label>
                        <select class="form-select">
                            <option selected>Select Sender Type</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Description</label>
                        <textarea rows="1" class="form-control"></textarea>
                    </div>
                    <div class="col-xl-3 mb-3">
                        <label class="form-label">Status</label>
                        <div class="d-flex justify-content-start form-check form-switch pt-1">
                            <input class="form-check-input float-end valign-middle mt-1" type="checkbox" id="blacklist">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="button" class="btn btn-success mb-3 float-end">
            <i data-feather="plus" class="icon15x15"></i> Add new
        </button>
    </div>
</div>
