<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body align-middle">
          <div #myDropzone class="dropzone needsclick">
            <div class="fallback">
              <input name="file" type="file" multiple="multiple">
            </div>
            <div class="dz-message needsclick">
              <div class="mb-3">
                <i class="display-4 text-muted uil uil-cloud-upload"></i>
              </div>
              <h4 class="text-center fs-5">
                <div class="uploadIcon m-auto mb-2 position-relative lineHeight">
                  <i class="mdi mdi-cloud-upload-outline greenColor fn22"></i>
                </div>
                <span class="text-green">Click to upload</span> or drag and drop
                <span class="fs-6 d-block">jpg, xlsx, png, xls, pdf, jpeg, csv, doc, docx, zip, rar, mht, msg or GIF (max. 800x400px)</span>
              </h4>
            </div>
          </div>
          <div class="text-center mt-4"><button type="button" class="btn btn-primary">Send Files</button></div>
        </div>
      </div><!-- end card -->
    </div> <!-- end col -->
  </div>
  