<div class="row">
    <div class="col-lg-12">
        <div class="table mb-0">
            <div class="gridjs gridjs-container" style="width: 100%;">
                <div class="d-flex justify-content-between mb-2">
                    <h4 class="fn18 pt-3 pb-0 ps-3 text-black">Payment in <span class="badge badge-soft-primary py-2">{{payIn?.length}} payments</span></h4>
                </div>

                <div class="gridjs-wrapper" style="height: 400px;">
                    <table class="gridjs-table " style="height: 400px;">
                        <thead class="gridjs-thead">
                            <tr class="gridjs-tr">
                                <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngFor="let header of tabColumns">{{header.name}}</th>
                            </tr>
                        </thead>
                        <tbody class="gridjs-tbody">
                            <tr class="gridjs-tr" *ngFor="let payin of payIn;index as i">
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.bank}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.amount}}</td>
                                <!-- <td class="gridjs-td" (dblclick)="onRoute(i)"><img src="assets/images/flags/us.jpg" class="flagHolder">{{payin.currencyCode}}</td> -->
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.currencyCode}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.bankRefNo==='null'?'':payin.bankRefNo}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.debtorAccountNumber}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.debtorName}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.createdDate}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.clearedDate}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.clearedByName}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">{{payin.senderType}}</td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)"><div class="inactive float-start fn11">{{payin.complianceStatus}}</div></td>
                                <td class="gridjs-td" (dblclick)="onRoute(i)">
                                        @if(payin.locked){
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#101828" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                              </svg>
                                               Locked
                                    }@else {
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#101828" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                          </svg>
                                           Unlocked 
                                        
                                    }
                                </td>
                                <td class="gridjs-td text-center" (dblclick)="onRoute(i)">
                                    <div *ngIf="payin.blackListCheck=='PASS'">
                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="1" y="0.5" width="19" height="19" rx="5.5" fill="#098B8B" fill-opacity="0.04"/>
                                        <rect x="1" y="0.5" width="19" height="19" rx="5.5" stroke="#7F56D9"/>
                                        <path d="M15.1673 6.5L8.75065 12.9167L5.83398 10" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <div *ngIf="payin.blackListCheck=='FAIL'">
                                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="0.5" width="19" height="19" rx="5.5" fill="#FEF3F2"/>
                                            <rect x="1" y="0.5" width="19" height="19" rx="5.5" stroke="#F04438"/>
                                            <path d="M7.89623 6.65377C7.69121 6.44874 7.35879 6.44874 7.15377 6.65377C6.94874 6.85879 6.94874 7.19121 7.15377 7.39623L9.75754 10L7.15377 12.6038C6.94874 12.8088 6.94874 13.1412 7.15377 13.3462C7.35879 13.5513 7.69121 13.5513 7.89623 13.3462L10.5 10.7425L13.1038 13.3462C13.3088 13.5513 13.6412 13.5513 13.8462 13.3462C14.0513 13.1412 14.0513 12.8088 13.8462 12.6038L11.2425 10L13.8462 7.39623C14.0513 7.19121 14.0513 6.85879 13.8462 6.65377C13.6412 6.44874 13.3088 6.44874 13.1038 6.65377L10.5 9.25754L7.89623 6.65377Z" fill="#F04438"/>
                                        </svg>
                                    </div>
                                    <div *ngIf="payin.blackListCheck=='NOT_AVAILABLE'" class="crossMarkBox">NA</div>
                                    <div *ngIf="payin.blackListCheck=='NOT_REQUIRED'" class="crossMarkBox">NR</div>
                                </td>
                                <td class="gridjs-td text-center" (dblclick)="onRoute(i)">
                                    <div *ngIf="payin.thirdPartyCheck=='PASS'" class="checkMarkBox"><i class="fas fa-check icon15x15"></i></div>
                                    <div *ngIf="payin.thirdPartyCheck=='FAIL'" class="crossMarkBox"><span class="icon15x15">X</span></div>
                                    <div *ngIf="payin.thirdPartyCheck=='NOT_AVAILABLE'" class="crossMarkBox">NA</div>
                                    <div *ngIf="payin.thirdPartyCheck=='NOT_REQUIRED'" class="crossMarkBox">NR</div>
                                </td>
                                <td class="gridjs-td text-center" (dblclick)="onRoute(i)">
                                    <div *ngIf="payin.sanctionCheck=='PASS'" class="checkMarkBox"><i class="fas fa-check icon15x15"></i></div>
                                    <div *ngIf="payin.sanctionCheck=='FAIL'" class="crossMarkBox"><span class="icon15x15">X</span></div>
                                    <div *ngIf="payin.sanctionCheck=='NOT_AVAILABLE'" class="crossMarkBox">NA</div>
                                    <div *ngIf="payin.sanctionCheck=='NOT_REQUIRED'" class="crossMarkBox">NR</div>
                                    <div *ngIf="payin.sanctionCheck=='PENDING'" >PENDING</div>
                                </td>
                                <td class="gridjs-td text-center" (dblclick)="onRoute(i)">
                                    <div *ngIf="payin.cifasCheck=='PASS'" class="checkMarkBox"><i class="fas fa-check icon15x15"></i></div>
                                    <div *ngIf="payin.cifasCheck=='FAIL'" class="crossMarkBox"><span class="icon15x15">X</span></div>
                                    <div *ngIf="payin.cifasCheck=='NOT_AVAILABLE'" class="crossMarkBox">NA</div>
                                    <div *ngIf="payin.cifasCheck=='NOT_REQUIRED'" class="crossMarkBox">NR</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="gridjs-footer p-0">
                    <div class="gridjs-pagination pt-4">
                        <div class="gridjs-pages float-none d-flex justify-content-between">
                            <a href="javascript:void();" title="Previous" class="btn btn-outline-purple directionArrow me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                                </svg> Previous
                            </a>
                            <div class="d-flex tablepagination">
                                <a href="javascript:void();" class="fn14 fw-500 active" title="Page 1">1</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 2">2</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 3">3</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 4">4</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 5">5</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 6">6</a>
                                <a href="javascript:void();" class="fn14 fw-500" title="Page 7">7</a>
                            </div>
                            <a href="javascript:void();" title="Next" class="btn btn-outline-purple directionArrow">Next 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-filtersidebar [searchOptions]="tabColumns" (searchEmit)="searchEmited($event)" (reset)="clearFilter()" ></app-filtersidebar>
