<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="card-title">Add risk assessment<br><span class="fn12 text-dark">Clients we work with and their
                    transactions</span></h4>
        </div>
    </div>
</div>
<form [formGroup]="riskAssessmentCreation" autocomplete="">
    <div class="row" formGroupName="request">
        <div class="col-lg-12" formGroupName="body">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-start">
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Module<span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="moduleId"
                                (ngModelChange)="getModule($event)"
                                [ngStyle]="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                >
                                <option selected [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of moduleResponse" [ngValue]="data.id">{{data.display_field}}
                                </option>
                            </select>
                            <div style="color: red"
                                *ngIf="controls['moduleId'].invalid && (controls['moduleId'].dirty || controls['moduleId'].touched || submitted)">
                                <small *ngIf="controls['moduleId'].errors?.['required']">
                                    Module is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Company<span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="companyId"
                                (ngModelChange)="companyDropdown($event)"
                                [ngStyle]="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)?{color:'red',border:'1px solid red'}:{}">
                                >
                                <option selected [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of companyResponse" [ngValue]="data.key">{{data.value}}
                                </option>
                            </select>
                            <div style="color: red"
                                *ngIf="controls['companyId'].invalid && (controls['companyId'].dirty || controls['companyId'].touched || submitted)">
                                <small *ngIf="controls['companyId'].errors?.['required']">
                                    Company is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control font-12"
                                placeholder="Type here.." formControlName="name"
                                [ngStyle]="controls['name'].invalid && (controls['name'].dirty || controls['name'].touched  || submitted)?{color:'red',border:'1px solid red'}:{}">
                            <div style="color: red"
                                *ngIf="controls['name'].invalid && (controls['name'].dirty || controls['name'].touched  || submitted)">
                                <small *ngIf="controls['name'].errors?.['required']">
                                    Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Data Point<span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="dataPointId"
                                (ngModelChange)="dataPointValue($event)"
                                [ngStyle]="controls['dataPointId'].invalid && (controls['dataPointId'].dirty || controls['dataPointId'].touched || submitted)|| dataPointValidation?{color:'red',border:'1px solid red'}:{}">
                                >
                                <option [selected]="dataPointValidation" [ngValue]=null>--Select--</option>
                                <option *ngFor="let data of dataPointResponse" [ngValue]="data.key">{{data.value}}
                                </option>
                            </select>
                            <div style="color: red"
                                *ngIf="controls['dataPointId'].invalid && (controls['dataPointId'].dirty || controls['dataPointId'].touched || submitted)  || dataPointValidation">
                                <small *ngIf="controls['dataPointId'].errors?.['required'] || dataPointValidation">
                                    Data Point is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Description<span class="text-danger">*</span></label>
                            <input placeholder="Type here.." type="text" class="form-control font-12"
                                formControlName="description"
                                [ngStyle]="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched  || submitted)?{color:'red',border:'1px solid red'}:{}">
                            <div style="color: red"
                                *ngIf="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched  || submitted)">
                                <small *ngIf="controls['description'].errors?.['required']">
                                    Description is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <label class="form-label">Status</label>
                            <div class="d-flex justify-content-start form-check form-switch pt-1">
                                <input formControlName="status" class="form-check-input float-end valign-middle mt-1"
                                    type="checkbox" id="blacklist">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-primary mb-3 float-end" style="cursor: pointer;" (click)="save()">
                <i data-feather="plus" class="icon15x15"></i> Add new
            </button>
            <!-- <button type="button" class="btn mb-3 btn-success float-end"
                routerLink="/Configuration/Add_Whitelist_Details"
                style="cursor: pointer; margin-right: 11px !important;background-color: rgb(91, 91, 231);">
                <i data-feather="plus" class="icon15x15"></i> Back
            </button> -->
        </div>
    </div>
    <br>
</form>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center border-0">
                <h4 class="card-title">Risk Assessment<span class="badge badge-soft-primary py-2">{{riskAssessmentListResponse?.length}} assessment</span></h4>
                <!-- <button routerLink="/Configuration/Blacklist_Details" type="button" class="btn btn-success"><i data-feather="plus" class="icon15x15"></i> Add new</button> -->
            </div>
            <div class="row">
                <div class="card-body pt-0">
                    <div class="table mb-0">
                        <div class="gridjs gridjs-container" style="width: 100%;">
                            <div class="gridjs-wrapper" style="height: 400px;">
                                <table class="gridjs-table " style="height: 400px;">
                                    <thead class="gridjs-thead">
                                        <tr class="gridjs-tr">
                                            <th class="gridjs-th gridjs-th-sort gridjs-th-fixed" tabindex="0" style="top:0" *ngFor="let tab of tabColumns">{{tab.name}}</th>
                                    </thead>
                                    <tbody class="gridjs-tbody">
                                        <tr class="gridjs-tr" *ngFor="let data of riskAssessmentListResponse; index as i" (dblclick)="riskAssessmentDetails($event , i)">
                                            <td class="gridjs-td">{{data.name}}</td>
                                            <td class="gridjs-td">{{data.datapoint}}</td>
                                            <td class="gridjs-td">{{data.createdDate}}</td>
                                            <td class="gridjs-td">{{data.description}}</td>
                                            <td class="gridjs-td" [ngStyle]="{'color':data.status ? 'green' : 'red'}">
                                                <div class="inactive float-start fn11">
                                                  {{data.status ? 'Active' : 'Inactive'}}
                                                </div>
                                              </td>
                                            <td class="gridjs-td" matTooltipPosition="above"
                                               matTooltip="Set to {{data.status?'Inactive':'Active'}}" (click)="openPopUp(data.id,data.status)">
                                               <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                              </svg>                                              
                                            </td>
                                          </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-popupbox-confirmation *ngIf="riskAssessmentCreationResponse" [display]=openPop [Description]="alertMessage"
        (action)="closePopup1()" [AlertMessage]="AlertMessage" [fontColor]="fontColor"></app-popupbox-confirmation>
      <app-popupbox [display]=openPopWithAction (action)="closePopup($event)"
        [AlertMessage]="AlertMessage"></app-popupbox>