<div class="card card-h-100">
    <div class="card-body">
        <h4 class="card-title mb-4">Add service rule</h4>
        <hr >
        <div class="d-flex justify-content-between mb-3">
            <div class="col-xl-4 pe-3 mb-3">
                <label class="form-label">Company</label>
                <select class="form-select">
                    <option selected>Select company</option>
                    <option>Option 1</option>
                    <option>Option 1</option>
                </select>
            </div>
            <div class="col-xl-4 pe-3 mb-3">
                <label class="form-label">Module</label>
                <select class="form-select">
                    <option selected>Select module</option>
                    <option>Option 1</option>
                    <option>Option 1</option>
                </select>
            </div>
            <div class="col-xl-4 mb-4">
                <label class="form-label">Rule name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">Blacklist</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">Third_party</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">White_list</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">CIFAS</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">Custom</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
            <div class="form-check form-switch form-switch-md mb-5 p-0 col-xl-5">
                <label class="form-check-label" for="blacklist">Risk assessment</label>
                <div class="inactive float-end ms-3">Inactive</div>
                <input class="form-check-input float-end valign-middle" type="checkbox" id="blacklist">
            </div>
        </div>


    </div> <!-- end card-body-->
</div> <!-- end card-->